.departmentInfo {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 90% 45%, 100% 100%, 70% 45%, 0 45%);
  border: 1px solid #222;
  background: #222;
  color: #eee;
  display: flex;
  justify-content: center;
  transition: width .3s, height .3s, transform .2s;
}

.departmentInfo > p {
  margin-top: 10%;
  font-size: 1.5em;
}

.cityIcon {
  width: 2rem;
  height: 3rem;
  position: absolute;
  /* box-shadow: 0 5px 4px rgba(0, 0, 0, 0.75); */
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.cityIcon > p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, .5rem);
  opacity: 0;
  transition: opacity .1s;
}

.cityIcon:hover {
  animation: bounce infinite linear .8s;
}

.cityIcon:hover > p {
  opacity: 1;
}

.VillaSoriano {
  left: 97px;
  top: 25px;
}

.Mercedes {
  left: 127px;
  top: 5px;
}

.Dolores {
  left: 58px;
  top: 50px;
}

.Palmar {
  left: 260px;
  top: 0px;
}

.Palmitas {
  left: 175px;
  top: 25px;
}

.Egaña {
  left: 225px;
  top: 45px;
}

.Risso {
  left: 255px;
  top: 65px;
}

.StaCatalina {
  left: 330px;
  top: 85px;
}

.JERodo {
  left: 290px;
  top: 75px;
}

.Cardona {
  left: 360px;
  top: 95px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(0);
  }
}

.map {
  width: 60%;
}

@media (max-width: 768px) {
  .map {
    width: 100%;
  }

  .VillaSoriano {
    left: 40px;
    top: 10px;
  }

  .Mercedes {
    left: 65px;
    top: 0px;
  }
  
  .Dolores {
    left: 27px;
    top: 30px;
  }

  .Palmar {
    left: 170px;
    top: -20px;
  }

  .Palmitas {
    left: 95px;
    top: 30px;
  }

  .Egaña {
    left: 125px;
    top: 40px;
  }

  .Risso {
    left: 155px;
    top: 50px;
  }

  .StaCatalina {
    left: 206px;
    top: 50px;
  }

  .JERodo {
    left: 180px;
    top: 50px;
  }

  .Cardona {
    left: 240px;
    top: 50px;
  }
}