.departmentInfo {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 90% 45%, 100% 100%, 70% 45%, 0 45%);
  border: 1px solid #222;
  background: #222;
  color: #eee;
  display: flex;
  justify-content: center;
  transition: width .3s, height .3s, transform .2s;
}

.departmentInfo > p {
  margin-top: 10%;
  font-size: 1.5em;
}

.cityIcon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  /* box-shadow: 0 5px 4px rgba(0, 0, 0, 0.75); */
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.cityIcon > p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.map {
  position: relative;
  /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75); */
  background-repeat: no-repeat;
  background-size: contain;
  width: 18rem;
  height: 40rem;
}