.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 32rem;
  border-bottom: 1px solid #222;
  margin: 0 10rem
}

.filters {
  height: 5rem;
  padding: 2rem 5rem 0 5rem
}

.filters_content {
  height: 2rem;
  display: flex;
  justify-content: center;
}

.filters_content > button {
  margin-right: 3rem;
  width: 8rem;
  height: 2rem;
  background: #fff;
  border: 1px solid #222;
  border-radius: .5rem;
  font-size: 1.2em;
  position: relative;
  overflow: hidden;
  z-index: 10;
  transition: height .3s;
}

.filters_content > button > p {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 2rem;
  width: 100%;
  margin-top: .3rem;
}

.filters_content > button > p > svg {
  margin-right: .5rem;
}

.sports_dropdown > ul {
  width: 100%;
  list-style-type: none;
  border-top: none;
}

.sports_dropdown:hover {
  height: 10.5rem;
}

/* .sports_dropdown[data-open="true"] {
  border-radius: 1rem 1rem 0 0;
  border-bottom: none;
} */

.sports_dropdown > ul li {
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.input {
  border: 1px solid #222;
  background: #fff;
  width: 20rem;
  height: 2rem;
  border-radius: .5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input > input {
  border: none;
  width: 90%;
  background: none;
  height: 100%;
}

.input > input:focus {
  outline: none;
}

.input > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.department {
  margin-top: 2rem;
  padding: 0 10rem 2rem 10rem;
  display: flex;
  justify-content: center;
}

.selected {
  border: 1px solid #222;
  width: 50rem;
  height: max-content;
  border-radius: 1rem;
}

.selected > h3 {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5em;
  border-bottom: 1px solid #222;
}

.selected_sports {
  margin-top: 2rem;
  display: grid;
  grid-template: 4rem 1fr / 40% 10% 40%;
  width: 100%;
  justify-content: center;
  padding: 0 2rem;
}

.selected_sports > h3 {
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 2em;
}

.selected_sports h4 {
  font-size: 1.4em;
}

.selected_divisor {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: center;
}

.selected_divisor > span {
  width: 1px;
  height: 100%;
  background: #222;
  display: block;
}

.selected_ground {
  grid-area: 2 / 1 / 3 / 2;
}

.selected_water {
  grid-area: 2 / 3 / 3 / 4;
}

.selected_sports ul {
  list-style: none;
}

.selected_sports li {
  height: 2.5rem;
  width: 100%;
  border-radius: 1rem;
  background-color: #f00;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
}