.carrousel {
  display: flex;
  align-items: center;
  height: 100%;
  width: max-content;
  animation-name: moveCarrousel;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.carrousel > a {
  text-decoration: none;
  color: #222;
  border: 1px solid #222;
  width: 8rem;
  height: 2rem;
  border-radius: 1rem;
  display: grid;
  place-content: center;
  font-size: 1em;
  font-style: italic;
  background-color: #c1f6e4;
  margin-right: 2rem;
  transition: background .3s, transform .3s, font-weight .3s;
  text-align: center;
  line-height: 1rem;
  padding: .5rem .5rem;
}

.carrousel > a:last-of-type {
  margin-right: none;
}

.carrousel > a:hover {
  background-color: #a1dfcb;
  font-weight: bold;
  transform: scale(1.2);
}

@keyframes moveCarrousel {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  100% { 
    transform: translateX(0);
  }
}