.sportsmain {
  width: 100%;
  height: 100%;
  padding: 2rem 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.textDiv {
  width: 80%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textDiv > div:first-of-type {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.textDiv h2 {
  font-size: 3em;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textDiv h2 > span {
  width: 100%;
}

.textDiv h2 > span:nth-child(2) {
  margin-left: 1rem;
}

.textDiv h2 > span:last-of-type {
  margin-left: 3rem;
}

.textDiv p {
  font-style: italic;
}

.img {
  width: 30rem;
  height: 80%;
  border-radius: 1rem;
  overflow: hidden;
  z-index: 5;
}

.img > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.sportsmain > div:nth-child(2) {
  width: 80%;
}

.sportsmain button {
  width: 5rem;
  height: 2rem;
  border: none;
  background-color: #8C30F5;
  color: #eee;
  border-radius: .3rem;
}

.circle {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  border-radius: 15rem 0 0 15rem;
  background-color: #64959e;
  z-index: 1;
}