.edit {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.edit > div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
  align-items: center;
}

.edit label {
  align-self: flex-start;
}

.edit input {
  width: 100%;
}

.textarea {
  width: unset;
}

.edit textarea {
  resize: both;
}

.edit input,
.edit textarea {
  background: none;
  border: 1px solid #2229;
  border-radius: .5rem;
}

.edit textarea {
  min-width: 20rem;
  min-height: 10rem;
}

.edit input {
  padding: .5rem 1rem !important;
}