.title {
  margin: 1rem 0;
  height: 10rem;
  border-top: 1px solid #2222;
  border-bottom: 1px solid #2222;
  padding: 0 10%;
  display: flex;
  align-items: center;
  background-position: 50% 35%;
  position: relative;
  color: #eee;
}

.title > h1 {
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: #2229;
}

.question svg {
  font-size: 1.2em;
}

.questions {
  display: flex;
  flex-direction: column;
}

.question {
  width: 100%;
}

.question > div:first-of-type {
  height: 3rem;
  border-bottom: 3px solid #222;
  display: flex;
  align-items: center;
  padding: 0 2%;
  justify-content: space-between;
}

.category_btn {
  background: none;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question_response {
  margin-top: 1rem;
  font-size: 1.25em;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.question_response button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  font-size: 1.1em;
}

.question_response svg {
  font-size: 1.2em;
  transition: transform .3s;
}

.response_cont {
  transition: max-height .3s, height .3s;
}