.news_cont {
  display: flex;
  gap: 2rem;
  width: 100%;
  height: max-content;
  padding: 0 1rem;
  flex-direction: column;
  margin-bottom: 2rem;
  z-index: 10;
}

.recents {
  height: max-content;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 1px solid #222;
  margin-bottom: 2rem;
}

.recents > div:first-of-type {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.recents > div > h2 {
  font-size: 3em;
  font-family: 'Metropolis';
}

.separator {
  height: 1px;
  flex: 1;
  background: #222;
}

.news_filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news_filter h2 {
  font-size: 3em;
  font-family: 'Metropolis';
}

.news_filter > div:first-of-type { 
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filters_cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.filter_by {
  display: flex;
  height: 3rem;
  border: 1px solid #222;
  border-radius: .5rem;
  width: 40rem;
}

.filters_by {
  height: 3rem;
  overflow: hidden;
  width: 8rem;
  /* height: 12rem; */
}

.filters_by[data-open='true'] {
  height: 12rem;
}

.filters_by ul {
  width: 100%;
  background: #fff;
  border-radius: .3rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.filters_by li {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters_by li button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  font-size: 1.2em;
}

.filters_by li button:hover {
  background: #aaa9;
}

.filters_by > button {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-size: 1em;
  background: #fff9;
  border: none;
  border-radius: .5rem 0 .5rem 0;
}

.filter_by > div:nth-of-type(2) {
  flex: 1;
  height: 100%;
}

.filter_by input {
  width: 100%;
  height: 100%;
  background: #fff;
  border: none;
  border-left: 1px solid #222;
  padding: 0 1rem;
  font-size: 1.1em;
}

.filter_by input:focus {
  outline: none;
}

.filter_by > div:last-of-type {
  width: 3rem;
  height: 100%;
}

.filter_by > div:last-of-type > button {
  width: 100%;
  height: 100%;
  background: #fff;
  border: none;
  font-size: 1.3em;
  border-radius: 0 .5rem .5rem 0;
}

@media (max-width: 772px) {
  .filters_cont > div, .filter_by {
    width: 100%;
  }

  .filters_by {
    width: max-content;
  }
}