.card {
  display: flex;
  flex-direction: column;
  border-radius: .3rem;
  width: 22rem;
  height: max-content;
  text-decoration: none;
  color: #222;
  background: #fff;
  box-shadow: 0 0 10px #aaa;
  transition: box-shadow .3s;
}

.card:hover {
  box-shadow: 0 0 15px #aaa;
}

.img {
  width: 100%;
  height: max-content;
}

.img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.body, .footer {
  padding: .8rem;
}

.body > h3 {
  font-size: 1.4em;
  font-weight: bold;
}

.body > p {
  font-size: 1.1em;
  margin-top: .5rem;
}

.footer {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer > img {
  width: 2rem;
  height: 2rem;
}

.footer > span {
  font-size: .9em;
  color: #2229;
}