.cont {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.social {
  border: 1px solid #232323;
  border-radius: .3rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.icon {
  display: flex;
  gap: .5rem;
  align-items: center;
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
}

.input {
  border: 1px solid #232323;
  border-radius: .5rem;
  padding: .2rem;
  display: flex;
}

.input input {
  border: none;
  background: none;
  flex: 1;
  height: 1.5rem;
}

.input button {
  border: none;
  background: none;
  width: 2rem;
}

.input button:hover {
  background: #eee;
}

.input input:focus {
  outline: none;
}

.input:has(input:focus) {
  border: 1px solid #454545;
}