@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.footer {
  background-color: var(--footer-bg);
  padding: 1rem 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

.social h3 {
  font-size: 1.4em;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.social-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.social-header > div {
  margin-top: .5rem;
}

.social-header > div ul {
  list-style-type: none;
  display: flex;
  width: 10rem;
  justify-content: space-between;
}

.social-header > div ul li {
  font-size: 1.5em;
}

.social-header a {
  position: relative;
}

.social-header a::before {
  transition: width .3s;
  content: "";
  width: 0%;
  background-color: #222;
  height: 2px;
  position: absolute;
  bottom: 0;
}

.social-header a:hover::before {
  width: 100%;
}

.facebook:hover {
  color: #00f;
}

.instagram:hover {
  color: #c0c;
}

.twitter:hover {
  color: #0cc;
}

.youtube:hover {
  color: #a00;
}

.icon { 
  display: grid;
  place-content: center;
  width: 2rem;
  height: 2rem;
}

.social > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.social > ul li {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #222;  
  height: 4rem;
}

.social > ul li:first-of-type {
  width: 9rem;
  font-size: 1em;
}

.social > ul li:first-of-type svg {
  font-size: 1.2em;
  margin-right: .5rem;
}

.social > ul li:hover svg {
  color: #0a0c;
}

.social a {
  text-decoration: underline;
  color: #222;
}

.copyright {
  border-top: 1px solid #222;
  width: 100%;
  text-align: center;
  font-size: .9em;
  padding: .5rem;
  height: 2rem;
}