.main {
  background-color: #c1f6e4;
}

.programation {
  background: #c1f6e4;
  height: max-content;
}

.events {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
}

.events > div {
  margin-top: 1rem;
}

.title {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
}

.btn_cont {
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title > div > div {
  position: relative;
}

.title > div > div > p {
  position: absolute;
}

.btn_cont > div > button, .btn_cont > button {
  width: 8rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  border-radius: 1rem;
  border: 1px solid #222;
  background: #099;
  color: #eee;
}

.btn_cont > div > button {
  border-radius: 1rem 1rem 0 0 !important;
}

.btn_cont > div > p, .btn_cont_list > li {
  background: #eee;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  border: 1px solid #222;
  /* border-radius: 0 0 1rem 1rem; */
  /* border-radius: 0 0 0rem 0rem; */
}

.btn_cont svg {
  margin-left: .5rem;
}

.btn_cont_list {
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(4rem);
  width: 100%;
  height: max-content;
  border: 1px solid #222;
}

.btn_cont_list > li {
  border: none;
  border-top: 1px solid #222;
}

.btn_cont_list > li:hover {
  background: #ccc;
}

.btn_cont_list > li button {
  border: none;
  font-size: inherit;
  background: none;
  width: 100%;
  height: 100%;
}

.divider {
  width: 80%;
  height: 1px;
  background-color: #222;
  margin: 1rem auto;
}

.info {
  background-color: #c1f6e4;
  height: 20rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.info > div {
  width: 90%;
  height: 100%;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.info > div > div {
  border: 1px solid #f00;
}

.text {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.text > ul {
  list-style-type: none;
  flex: 1;
}

.photos {
  width: 25%;
  height: auto;
  max-height: 100%;
  padding: .6rem;
  background-color: #fff;
  border-radius: 1rem;
}

.photos > img {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  object-fit: contain;
}

.info_li {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.3em;
  min-height: 2rem;
  max-height: max-content;  
}

.info_li > div {
  height: 100%;
}

.info_li > div:first-of-type {
  width: 10rem;
  font-weight: bold;
}

.info_li:nth-child(2) > div:first-of-type {
  align-self: auto;
}

.info_li > div:last-of-type {
  font-style: italic;
  width: 80%;
}