.main {
  display: flex;
  flex-wrap: wrap;
}

.city-carrousel {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: #c1f6e4;
}

.city-carrousel > nav {
  width: 100%;
  height: 3rem;
  overflow: hidden;
}

.news {
  width: 100%;
  height: 20rem;
}

.sport {
  width: 100%;
  overflow: hidden;
}

.ground {
  background-color: var(--index-ground-bg);
}

.water {
  background-color: var(--index-water-bg);
}

.ground > div[data-ground-open="true"] > .circle::before {
  background-color: var(--index-ground-bg);
}

@media (max-width: 768px) {
  .news {
    height: 24rem;
  }
}