@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.sportsmain {
  width: 100%;
  transition: height .3s;
}

.sportsmain_main {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 10%;
}

.textDiv {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textDiv > div:first-of-type {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.textDiv h2 {
  font-size: 3em;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Releway", sans-serif;
}

.textDiv h2 > span {
  width: 100%;
}

.textDiv h2 > span:nth-child(2) {
  margin-left: 1rem;
}

.textDiv h2 > span:last-of-type {
  margin-left: 3rem;
}

.textDiv p {
  font-style: italic;
}

.textDiv button {
  margin-top: 1rem;
}

.img {
  width: 30rem;
  height: 80%;
  border-radius: 1rem;
  overflow: hidden;
  z-index: 5;
}

.img > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.sportsmain button {
  width: 6rem;
  height: 2.2rem;
  border: none;
  background-color: #0f0a;
  /* background-color: #8C30F5; */
  color: #232323;
  border-radius: .3rem;
  font-size: 1em;
  font-style: italic;
}

.circle {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  border-radius: 13rem 0 0 0;
  background-color: var(--circle-ground-bg);
  z-index: 1;
}

.circle[data-ground-open="true"]::before {
  background: var(--index-ground-bg);
  transition: background .01s;
}

.circle[data-ground-open="false"]::before {
  transition: background 1s;
}

.circle::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: var(--circle-ground-bg);
  position: absolute;
  transform: translateX(-.5rem) translateY(.5rem);
  border-radius: 100%;
  bottom: 0;
  left: 0;
}

.list {
  width: 100%;
  height: 15rem;
  display: flex;
  place-content: center;
}

.list > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.list > ul li {
  border: 1px solid #222;
  width: 10rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 1rem;
}

.icon {
  width: 100%;
  height: 60%;
  display: grid;
  place-content: center;
  font-size: 3.5em;
}

.title {
  display: flex;
  align-items: center;
  font-size: 2em;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
}