@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.sportsmain {
  width: 100%;
  transition: height .3s;
}

.sportsmain_main {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 10%;
}


.textDiv {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textDiv > div:first-of-type {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.textDiv h2 {
  font-size: 3em;
  height: 90%;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Releway", sans-serif;
  text-shadow: 1px 0px #000;
  color: #222;
}

.title_anual_sports{

}

.textDiv h2 > span:first-of-type {
  width: 100%;
}

.textDiv h2 > span:nth-child(2) {
  margin-left: 1rem;
  text-align: start;
}

.textDiv h2 > span:last-of-type {
  margin-left: 3rem;
  text-align: start;
}

.textDiv p {
  font-family: 'Raleway', sans-serif;
}

.textDiv button {
  margin-top: 1rem;
}

.img {
  width: 30rem;
  height: 80%;
  border-radius: 1rem;
  overflow: hidden;
  z-index: 5;
}

.img > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.sportsmain button {
  width: 6rem;
  height: 2.2rem;
  border: none;
  background-color: var(--index-btn);
  color: #232323;
  border-radius: .3rem;
  font-size: 1em;
  font-style: italic;
}

.circle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-1rem, -50%);
  height: 95%;
  width: 40%;
  border-radius: 13rem 0 13rem .5rem;
  background-color: var(--circle-ground-bg);
  z-index: 1;
}

/* .circle[data-ground-open="true"]::before {
  background: var(--index-ground-bg);
  transition: background .01s;
}

.circle[data-ground-open="false"]::before {
  transition: background 1s;
}

.circle::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: var(--circle-ground-bg);
  position: absolute;
  transform: translateX(-.5rem) translateY(.5rem);
  border-radius: 100%;
  bottom: 0;
  left: 0;
} */

.list {
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .5rem;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: center;
}

.list > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.list > ul li {
  border: 1px solid #222;
  width: 10rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 1rem;
}

.sport_card {
  min-width: 9rem;
  height: 13rem;
  border: 1px solid #eee;
  box-shadow: 0 0 10px #222;
  border-radius: .5rem;
  padding: .5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 1rem;
  text-overflow: clip;
  transition: transform .3s;
}

.sport_card::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #66666699 60%, #232323 100%);
}

.sport_card > button, .sport_card > p {
  position: relative;
}

.sport_card > p {
  font-size: 1.3em;
  color: #eee;
}

.sport_card:hover {
  transform: scale(1.1);
}

.icon {
  width: 100%;
  height: 60%;
  display: grid;
  place-content: center;
  font-size: 3.5em;
}

.title {
  display: flex;
  align-items: center;
  font-size: 2em;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .circle {
    width: 30rem;
  }

  .img {
    position: absolute;
    z-index: 2;
    transform: translateX(-5rem);
  }

  .img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2323239f;
  }

  .textDiv {
    /* width: 100%; */
  }

  .textDiv > div:first-of-type {
    z-index: 5;
    color: #eee;
    width: 100%;
  }

  .textDiv h2 {
    font-size: 2.3em;
    height: 70%;
    color: #eee;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .textDiv {
    width: 100%;
    position: relative;
  }

  .img {
    transform: none;
    width: 100%;
    height: 100%; 
  }

  .img > img {
    object-fit: cover;
  }

  .textDiv > div:first-of-type {
    padding: .5rem;
  }

  .textDiv > div:first-of-type {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .textDiv h2 {
    width: 100%;
  }

  .circle {
    border-radius: 20rem 0 20rem 0;
  }
  .subtitle_summer{
    font-size: smaller;
  }
  span{
    
    font-size: 0.8em;
  }
}