.summer {
  width: 100%;
}

.summer_main {
  height: 28rem;
  padding: 2rem 10%;
  position: relative;
}

.circle {
  position: absolute;
  width: 95%;
  height: 90%;
  background: var(--circle-ground-bg);
  border-radius: .5rem 8rem .5rem 8rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.title {
  z-index: 5;
  display: grid;
  place-content: center;
  inset: 0;
  /* width: 100%;
  height: 100%; */
  align-self: center;
}

.title > h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 3em;
  color: #222;
  text-shadow: 1px 0px #000;
  /* background: #222a; */
  padding: .5rem;
  border-radius: 1rem;
}

.content {
  z-index: 4;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  /* padding: 1rem; */
  border-radius: .5rem 5rem .5rem 5rem;
  gap: 1rem;
}

.carrousel {
  display: flex;
  flex-direction: row;
  /* gap: 1rem; */
  /* align-items: center; */
  z-index: 4;
  position: relative;
  /* animation: moveCarr linear alternate 25s infinite; */
}

.carrousel > button {
  position: relative;
  z-index: 5;
  width: 18rem;
  height: 14rem;
  border: none;
  /* border-radius: 1rem; */
  padding: .5rem;
  background: #222;
  position: relative;
  overflow: hidden;
  transition: transform .3s;
  cursor: pointer;
}

.carrousel > button:first-of-type {
  border-radius: 1rem 0 0 1rem;
}

.carrouseL > button:last-of-type {
  border-radius: 0 1rem 1rem 0;
}

.carrousel > button:hover {
  /* transform: scale(1.2); */
}

.carrousel > button > img {
  border-radius: .3rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.carrousel > button::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: #23232399;
}

.carrousel > button:hover::before {
  background: none;
}

@keyframes moveCarr {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-65%);
  }
}

.carrousel_btns {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  /* border: 1px solid #f00; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  padding: 0 1rem;
  pointer-events: none;
}

.carrousel_btns > button {
  width: 3rem;
  height: 3rem;
  border: none;
  font-size: 2em;
  background: var(--index-btn);
  color: #222;
  border-radius: 100%;
  display: grid;
  place-content: center;
  transition: transform .3s;
  pointer-events: all;
}

.carrousel_btns > button:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .circle {
    border-radius: .5rem 9rem .5rem 9rem;
  }

  .title > h2 {
    font-size: 2.5em;
  }
}

@media (max-width: 576px) {
  .title > h2 {
    background: none;
    padding: 0;
    font-size: 2em;
  }
}