:root {
  --header-bg: #fff;
  /* --header-bg-10: #F9F37F10;
  --header-bg-90: #F9F37F90; */
  --header-bg-10: #fff;
  --header-bg-90: #fff;
  --header-bg-2: #F9F37F;
  --footer-bg: #F9F37F;

  --bg-color: #f6fafb;

  --body-bg: #c1f6e4;

  /* colores de la pagina de inicio */
  --index-ground-bg: #eee;
  --index-water-bg: #0acbe8;
  --circle-ground-bg: #0acbe8;
  --circle-water-bg: #eee;


  /* variables admin medidas */
  --header-width: 18rem
}