* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body:has(.background-main), .page-bg {
  background: fixed url("../../public/assets/img/background.jpg");
  background-size: cover;
}

#root {
  position: relative;
  height: 100%;
}

#root:has(.background-main) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root:has(.loading-page) { height: 100% }

#root:has(#admin-header) { /* PAGINA DE ADMIN GENERAL */
  background-color: #3165f4;
  display: grid;
  grid-template: 100% / var(--header-width) 1fr;
  height: 100%;
}

button {
  cursor: pointer;
}

.background-main {
  flex: 1;
}