* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body:has(.background-main), .page-bg {
  background-size: cover;
  background-attachment: fixed;
}

#root {
  position: relative;
  height: 100%;
}

#root:has(.background-main) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root:has(.loading-page) { height: 100% }

#root:has(#admin-header) { /* PAGINA DE ADMIN GENERAL */
  /*background-color: #3165f4;
  display: grid;
  grid-template: 100% / var(--header-width) 1fr;
  height: 100%;
  */
}

button {
  cursor: pointer;
}

.background-main {
  flex: 1;
  position: relative;
}

.admin-title {
  height: 8rem;
  border-bottom: 2px solid #232323;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  font-size: 1.2em;
}

.admin-title > h1 {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, label, button {
  font-family: "Metropolis", sans-serif;
}

p {
  font-family: "Raleway";
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

.news_bold {
  font-weight: bold;
}

.news_italic {
  font-style: italic;
}

.news_underline {
  text-decoration: underline;
}