.news_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.news_info_inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.news_info_inputs > div {
  display: flex;
  gap: .5rem;
  /* align-items: center; */
  width: 60%;
}

.news_info_inputs input, 
.news_info_inputs textarea {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #222;
  flex: 1;
  height: 2rem;
  padding: 0 .5rem;
}

.news_info_inputs textarea {
  height: 5rem;
}

.news_info_inputs input[type="file"] { display: none; }

.news_info_inputs div:has(input[type="file"]) > label:last-of-type {
  width: 10rem;
  height: 2rem;
  /* border: 1px solid #232323; */
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  background: #0a09;
  cursor: pointer;
}

.news_info_inputs div:has(input[type="file"]) > label:last-of-type:hover {
  background: #0f0;
}

.news_note {
  margin-top: 1rem;
  border-top: 1px solid #232323;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.news_note_btns {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.news_note_btns button {
  width: 2rem;
  height: 1.5rem;
  background: none;
  border: 1px solid #232323;
  border-radius: .5rem;
  display: grid;
  place-content: center;
  cursor: pointer;
  font-size: 1.2em;
}

.news_note_btns button:hover {
  background: #0a09;
}

.news_note_cont {
  width: 100%;
  height: max-content;
}

.imgname {
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
}

.news_note_cont textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1.2em;
  border-radius: .5rem;
}

.news_send button {
  width: 10rem;
  height: 2rem;
  border-radius: .5rem;
  border: none;
  background: #0a09;
  font-size: 1em;
}

.news_send button:hover {
  background: #0f0;
}

.modal {
  z-index: 666;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #2229;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .3s;
}

.modal > div {
  width: 80%;
  height: 90%;
  border: 1px solid #eee;
  border-radius: .5rem;
  padding: .5rem;
  background-color: #eee;
  display: flex;
  flex-direction: column;
}

.modal_header {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
}

.modal_header > button {
  width: 2rem;
  height: 2rem;
  border: none;
}

.modal_body {
  flex: 1;
  border: 1px solid #232323;
  border-radius: .5rem;
  padding: .5rem;
  height: inherit;
  overflow-y: auto;
}

.modal_footer > button {
  width: 20rem;
  height: 2rem;
  margin-top: 1rem;
  border-radius: .3rem;
  border: 1px solid #232323;
  font-size: 1.2em;
  transition: background .3s, letter-spacing .3s;
}

.modal_footer > button:hover {
  background: #0a09;
  letter-spacing: 1px;
}