.aside {
  position: fixed;
  top: 15%;
  left: 0;
  width: 3rem;
  height: 12rem;
  background-color: #eee;
  z-index: 20;
  padding: .5rem;
  border-left: none;
  border-radius: 0 1rem 1rem 0;
  border: 1px solid #222;
  transform: translateX(-2.5rem);
  transition: transform .3s;
}

.aside:hover {
  transform: translateX(0);
}

.ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 2em;
  width: 100%;
  height: 100%;
}

.ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul > li {
  width: 3rem;
  height: 2rem;
}

.facebook {
  color: #00f;
}

.instagram {
  color: #c0c;
}

.twitter {
  color: #0cc;
}

.youtube {
  color: #a00;
}

.social {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 3.5rem;
  height: 3.5rem;
  /* border: 1px solid #f00; */
  border-radius: 100%;
  transform: translate(-2rem, -1rem);
}

.social_icons {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: none;
  font-size: 2em;
  overflow: hidden;
  /* pointer-events: all; */
}

.social_icons > div {
  transition: transform .3s, background .3s;
  /* transform: translateY(-3.5rem); 1 */
  /* transform: translateY(-7rem); 2 */
  /* transform: translateY(-10.5rem); 3 */
}

.social_icons > div > div:first-of-type {
  /* margin-left: .7rem; */
}

.social_icons > div > div {
  width: 3.5rem;
  height: 3.5rem;
  display: grid;
  place-content: center;
}

.social_icons svg {
  color: #eee;
}

.social_media {
  position: absolute;
  /* border: 1px solid #f00; */
  width: 8rem;
  height: 8rem;
  top: 0;
  left: 0;
  /* transform: translate(-4rem, -4rem) scale(0); */
  transition: transform .3s;
  pointer-events: none;
}

.social_media > a { 
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  text-decoration: none;
  color: #eee;
  font-size: 1.5rem;
  display: grid;
  place-content: center;
  border-radius: 100%;
  transition: box-shadow .3s;
  pointer-events: all;
}

.social_media > a:hover {
  box-shadow: 1px 1px 5px #232323;
}

.fb_btn {
  bottom: 0;
  background: #00a;
}

.ig_btn {
  right: 0;
  background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.tw_btn {
  left: 40%;
  transform: translateX(-40%);
  background: #0ee;
}

.yt_btn {
  top: 40%;
  transform: translateY(-40%);
  background: #a00;
}

@media (max-width: 992px) {
  .aside {
    display: none;
  }
}