.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 8rem;
  background: linear-gradient(to right, var(--header-bg-10), var(--header-bg-90),var(--header-bg-90), var(--header-bg-90), var(--header-bg-10));
}

.header-top {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  z-index: 15;
  justify-content: space-between;
}

.logo {
  width: 14rem;
  height: 5rem;
}

.logo > img {
  width: 100%;
  height: 100%;
}

.link {
  text-decoration: none;
}

.search-bar {
  width: 40rem;
}

.search-bar > div {
  display: flex;  
  border: 1px solid #222;
  border-radius: 1rem;
  height: 2rem;
  padding: 0 2rem;
  position: relative;
  z-index: 9;
  transition: transform .3s;
  background-color: #eee;
}

.search-bar input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
}

.search-bar__icon {
  width: 2.5rem;
  display: grid;
  place-content: center;
  font-size: 1.2em;
  background: none;
  border: none;
  cursor: pointer;
}

.user-info {
  display: flex;
  justify-content: space-between;
  width: 9rem;
}

.link-header {
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 3rem;
  height: 4rem;
}

.link, .header-nav > button {
  position: relative;
}

.link:is(a):before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #222;
  transition: width .3s;
}

.link:hover::before {
  width: 100%;
}

.link-header > svg {
  font-size: 2.5em;
  color: #222 !important;
}

.header-bottom {
  width: 100%;
  height: 2rem;
  background-color: var(--header-bg);
  display: flex;
  justify-content: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 60rem;
}

.link-header2 {
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-header2 > svg {
  margin-right: .3rem;
  transition: rotate .3s;
  font-size: .9em;
}

.header-nav > a, .header-nav > div, .header-nav > button {
  width: max-content;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  position: relative;
  height: 100%;
  z-index: 10;
}

.header-nav > button {
  border: none;
  background: none;
  font-weight: unset;
  height: 2rem;
  overflow: hidden;
  transition: height .5s;
}

.header-nav > button > p {
  height: 2rem;
}

.header-nav > button:hover {
  height: 16rem;
}

.header-nav > button:hover > p svg {
  rotate: -180deg;
}

.activities-list {
  transition: transform .3s, opacity .5s;
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--header-bg);
  border: 1px solid #222;
  border-top: none;
  border-radius: .5rem;
  transform: translateY(2rem);
}

.activities-list li {
  height: 2.5rem;
}

.activities-list li > a {
  text-decoration: none;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: .8em;
}

.activities-list li > a:hover {
  background-color: #aaa9;
}

.activities-list svg {
  margin: 0 .3rem 0 .5rem;
}