@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  background: linear-gradient(to right, var(--header-bg-10), var(--header-bg-90),var(--header-bg-90), var(--header-bg-90), var(--header-bg-10));
}

.header-top {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  z-index: 15;
  justify-content: space-between;
}

.logo {
  width: 14rem;
  height: 5rem;
}

.logo > img {
  width: 100%;
  height: 100%;
}

.link {
  text-decoration: none;
}

.search-bar {
  width: 40rem;
}

.search-bar > div, .header_searchbar_tablet > div {
  display: flex;  
  border: 1px solid #222;
  border-radius: 1rem;
  height: 2rem;
  padding: 0 2rem;
  position: relative;
  z-index: 9;
  transition: transform .3s;
  background-color: #eee;
}

.search-bar input, .header_searchbar_tablet input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
}

.header_searchbar_tablet {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 3rem;
  z-index: 13;
}

.header_searchbar_tablet > div {
  width: 80%;
}

.search-bar__icon {
  width: 2.5rem;
  display: grid;
  place-content: center;
  font-size: 1.2em;
  background: none;
  border: none;
  cursor: pointer;
}

.user-info {
  display: flex;
  justify-content: space-between;
  width: 14rem;
  gap: .5rem;
}

.user-info > a:last-of-type {
  width: unset !important;
}

.user-info:has(.user) {
  height: 4rem;
  gap: .5rem;
}

.user {
  width: 8rem;
  height: 2rem;
  /* height: 10rem; */
  overflow: hidden;
  margin-top: 1rem;
  transition: heigth .3s;
}

.user:hover {
  height: 10rem;
}

.user > button {
  width: 100%;
  height: 2rem;
  /* margin-bottom: 1rem; */
  border-radius: 1rem;
  background: none;
  border: 1px solid #222;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
  /* transition: border-radius .3s; */
}

.user:hover > button {
  border-radius: 1rem 1rem 0 0;
}

.user:hover > button svg {
  rotate: 180deg;
}

.user > button p {
  font-size: 1.1em;
  text-overflow: clip;
}

.user > button svg {
  font-size: 1.2em;
}

.user > ul {
  width: 100%;
  background: #eee;
  height: max-content;
  border: 1px solid #222;
  border-top: none;
}

.user > ul li {
  height: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: .5rem;
}

.user > ul li:hover {
  background: #aaa;
}

.user > ul li > a, .user > ul li > button {
  text-decoration: none;
  border: none;
  background: none;
  color: #222;
  font-size: 1.05em;
  font-family: arial;
}

.link-header {
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 3rem;
  height: 4rem;
  font-family: 'Raleway', sans-serif;
}

.link, .header-nav > button {
  position: relative;
}

.link:is(a):before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #222;
  transition: width .3s;
}

.link:hover::before {
  width: 100%;
}

.link-header > svg {
  font-size: 2.5em;
  color: #222 !important;
}

.header-bottom {
  width: 100%;
  height: 2rem;
  background-color: var(--header-bg);
  display: flex;
  justify-content: center;
  z-index: 11;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 60rem;
}

.link-header2 {
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;

}

.link-header2 > svg {
  margin-right: .3rem;
  transition: rotate .3s;
  font-size: .9em;
}

.header-nav > a, .header-nav > div, .header-nav > button {
  width: max-content;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  position: relative;
  height: 100%;
  z-index: 10;
  font-family: 'Raleway', sans-serif;

}

.header-nav > button {
  border: none;
  background: none;
  font-weight: unset;
  height: 2rem;
  overflow: hidden;
  transition: height .5s;
}

.header-nav > button > p {
  height: 2rem;
}

.header-nav > button:hover {
  height: 16rem;
}

.header-nav > button:hover > p svg {
  rotate: -180deg;
}

.activities-list {
  transition: transform .3s, opacity .5s;
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--header-bg);
  border: 1px solid #222;
  border-top: none;
  border-radius: .5rem;
  transform: translateY(2rem);
}

.activities-list li {
  height: 2.5rem;
}

.activities-list li > a {
  text-decoration: none;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: .8em;
}

.activities-list li > a:hover {
  background-color: #aaa9;
}

.activities-list svg {
  margin: 0 .3rem 0 .5rem;
}

.menu_mobile {
  width: 2rem;
  height: 1.5rem;
  display: grid;
  place-content: center;
  font-size: 1.2em;
  background: none;
  border: 1px solid #222;
  border-radius: .3rem;
  display: none;
}

.menu_mobile:hover {
  background-color: #222;
  color: #eee;
}

@media (max-width: 992px) {
  .search-bar {
    display: none;
  }
  .header-bottom {
    padding: 0 2%;
  }
}

@media (min-width: 992px) {
  .header_searchbar_tablet {
    display: none;
  }
}

@media (max-width: 768px) {
  .header_searchbar_tablet, .header-bottom, .user-info > a, .user {
    display: none;
  }

  .user-info {
    width: max-content;
    height: 2rem !important;
  }

  .menu_mobile {
    display: inline-block;
  }
}