.table {
  padding: .5rem;
  border: 1px solid #232323;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background: #eee;
}

.entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
  border-radius: .3rem;
  border: 1px solid #121212;
  background: #fff;
}

.id {
  display: grid;
  place-content: center;
  width: 2rem;
}

.id > span {
  display: grid;
  place-content: center;
  padding: .5rem;
  border-radius: 100%;
  border: 1px solid #2229;
  width: 2rem;
  height: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.info_duo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns > button,
.btns > div {
  padding: .3rem;
  border: 1px solid #2229;
  border-radius: .5rem;
  cursor: pointer;
}

.show {
  background: #0a09;
}

.show:hover {
  background: #0a0c;
}

.show:active {
  background: #0a0f;
}

.pagination {
  width: 100%;
  display: flex;
  margin-top: .5rem;
  justify-content: center;
}

.pagination > div {
  display: flex;
  gap: 1rem;
}

.pagination button {
  padding: .5rem;
  border-radius: .5rem;
  border: none;
  background: #6a8abe;
  color: #eee;
}

.pagination button > svg {
  font-size: 1.1em;
}

.pagination button:hover {
  background: #5d78b3;
}

.pagination input {
  text-align: center;
  padding: 0 .5rem !important;
  width: 3rem;
  border-radius: .5rem;
  border: 1px solid #2229;
  font-weight: bold;
}

.pagination span {
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}